*.mode1v3
*.pbxuser
*.perspectivev3
*.xcuserstate
*.mergesave
*.bak
*.orig
.~*
.DS_Store
xcuserdata
Thumbs.db
build
Build
Generated
GeneratedAssets
InfoPlist_Prefix.h
test-reports
!contents.xcworkspacedata
